@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif !important;
    // background-image: url('/public/images/background.jpg');
    // background-size:cover;
    // background-position: center;
    // background-attachment: fixed;
    // background-repeat: no-repeat;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(15,121,9,1) 35%, rgba(201,242,178,1) 100%);
}


.btn-primary{
  background-color: rgba(15,121,9,1) !important;
  border-color: rgba(201,242,178,1) !important;
}